{% set cards = [
	{
		'title':'Выбор ITI Capital',
		'risk': 'Модельный портфель российских акций со средним уровнем риска',
		'descr': '<p>Эксперты ITI Capital отобрали акции с хорошими перспективами роста котировок.</p>
			<p>Основные секторы инвестирования: нефтегазовый, горнодобывающий, технологии, финансы.</p>
			<p>50 000 руб. - минимальная сумма инвестиции.</p>',
		'company':
			'<svg role="img" class="logo-yandex">
				<use xlink:href="#logo-yandex"></use>
			</svg>
			<svg role="img" class="sberbank-logo">
				<use xlink:href="#sberbank-logo"></use>
			</svg>
			<svg role="img" class="novatek">
				<use xlink:href="#novatek"></use>
			</svg>',
		'currency': 'В рублях, до',
		'percent': '30',
		'risks': 'Средний уровень риска'
	},
	{
		'title':'Дивидендный',
		'risk': 'Модельный портфель со средним уровнем риска',
		'descr': '<p>Возможность получить не только дивиденды, но и доход от роста стоимости акций.</p>
			<p>В портфель входят акции с привлекательной дивидендной доходностью из секторов: нефтегазовый, добывающий и металлургия.</p>
			<p>50 000 руб. - минимальная сумма инвестиции</p>',
		'company': '
			<svg role="img" class="bristol-myers-squibb-logo">
				<use xlink:href="#bristol-myers-squibb-logo"></use>
			</svg>
			<svg role="img" class="dividentnaya-alrosa">
				<use xlink:href="#dividentnaya-alrosa"></use>
			</svg>
			<svg role="img" class="logo-tatneft">
				<use xlink:href="#logo-tatneft"></use>
			</svg>',
		'currency': 'В рублях, до',
		'percent': '20',
		'risks': 'Низкий уровень риска'
	},
	{
		'title':'Сбалансированная доходность',
		'risk': 'Модельный портфель с оптимальным соотношением доходности и риска',
		'descr': '<p>В портфель входят бумаги надежных компаний и облигации федерального займа РФ. Акции обеспечивают повышенную доходность, облигации позволяют снизить уровень риска.</p>
			<p>50 000 руб. - минимальная сумма инвестиции</p>',
		'company': '
			<svg role="img" class="opif-tgf-rf">
				<use xlink:href="#opif-tgf-rf"></use>
			</svg>
			<svg role="img" class="dididentnaya-luk">
				<use xlink:href="#dididentnaya-luk"></use>
			</svg>
			<svg role="img" class="obligacionnaya-web-bank">
				<use xlink:href="#obligacionnaya-web-bank"></use>
			</svg>
			',
		'currency': 'В рублях, до',
		'percent': '15',
		'risks': 'Оптимальный уровень риска'
	},
	{
		'title':'Облигационный',
		'risk': 'Модельный портфель с низким уровнем риска',
		'descr': '<p>В портфель входят облигации устойчивых компаний из различных секторов экономики, включая нефтегазовый, финансовый, потребительский, химический и горно-металлургический.</p>
			<p>50 000 руб. - минимальная сумма инвестиции.</p>',
		'company': '
			<svg role="img" class="rosneft-sign">
				<use xlink:href="#rosneft-sign"></use>
			</svg>
			<svg role="img" class="s-1-okay">
				<use xlink:href="#s-1-okay"></use>
			</svg>
			<svg role="img" class="logo-uralkaliy">
				<use xlink:href="#logo-uralkaliy"></use>
			</svg>',
		'currency': 'В рублях, до',
		'percent': '9',
		'risks': 'Минимальный уровень риска'
	},
	{
		'title':'Оптимальный',
		'risk': 'Модельный портфель американских акций со средним уровнем риска',
		'descr': '<p>Эксперты ITI Capital отобрали для портфеля акции крупных американских компаний со сравнительно низким уровнем волатильности (по бета-коэффициенту).</p>
		<p>Основные секторы инвестирования: информационные технологии, финансовый, промышленный.</p>
		<p>5 000 долл. США - минимальная сумма инвестиции.</p>',
		'company': '
			<svg role="img" class="logo-microsoft">
				<use xlink:href="#logo-microsoft"></use>
			</svg>
			<svg role="img" class="visa-inc-logo">
				<use xlink:href="#visa-inc-logo"></use>
			</svg>
			<svg role="img" class="logo-dow">
				<use xlink:href="#logo-dow"></use>
			</svg>',
		'currency': 'В долларах США, до',
		'percent': '20',
		'risks': 'Средний уровень риска'
	},
	{
		'title':'Перспективный',
		'risk': 'Модельный портфель американских акций со средним уровнем риска',
		'descr': '<p>Эксперты ITI Capital собрали в портфеле акции американских компаний схорошими фундаментальными показателями. Однако, мы считаем, что они были сильно перепроданы в октябре, поэтому по ним есть существенный потенциал роста.</p>
			<p>Основные сектроы инвестирования: информационные технологии, финансовый, промышленный, здравоохранение, телекоммуникации</p>
			<p>5 000 долл. США - минимальная сумма инвестиции</p>',
		'company': '
			<svg role="img" class="netflix-logo">
				<use xlink:href="#netflix-logo"></use>
			</svg>
			<svg role="img" class="micron-small-logo">
				<use xlink:href="#micron-small-logo"></use>
			</svg>
			<svg role="img" class="bristol-myers-squibb-logo">
				<use xlink:href="#bristol-myers-squibb-logo"></use>
			</svg>
			',
		'currency': 'В долларах США, до',
		'percent': '30',
		'risks': 'Высокий уровень риска'
	}]
%}
<section class="all-strats">
	<div class="container">
		<div class="all-strats__head">
			<div class="all-strats__logo">
				<svg role="img" class="document-percent">
					<use xlink:href="#document-percent"></use>
				</svg>
			</div>
			<div class="all-strats__header">
				Мы приготовили для вас и другие стратегии. Выбирать вам
			</div>
		</div>
		<div class="all-strats__wrap">
			{% for item in cards %}
				<div class="all-strats__item">
					{% include 'strategies.twig' with {"props": item} %}
				</div>
			{% endfor %}
		</div>
	</div>
</section>