<section class="all-strats">
	<div class="container">
		<div class="all-strats__head">
			<div class="all-strats__logo">
				<svg role="img" class="document-percent">
					<use xlink:href="#document-percent"></use>
				</svg>
			</div>
			<div class="all-strats__header">
				Мы приготовили для вас и другие стратегии. Выбирать вам
			</div>
		</div>
		<div class="all-strats__wrap">
			<div class="all-strats__item">
				{% include 'strategies.twig' %}
			</div>
			<div class="all-strats__item">
				{% include 'strategies.twig' %}
			</div>
			<div class="all-strats__item">
				{% include 'strategies.twig' %}
			</div>
			<div class="all-strats__item">
				{% include 'strategies.twig' %}
			</div>
			<div class="all-strats__item">
				{% include 'strategies.twig' %}
			</div>
		</div>
	</div>
</section>