	<footer class="footer">
		<div class="container">
			<div class="footer__left">
				<svg role="img" class="white-logo-hr-iti-capital">
					<use xlink:href="#white-logo-hr-iti-capital"></use>
				</svg>
			</div>
			<div class="footer__right">
				<p>
					13% доходность от налогового вычета достигается за счёт внесения на ИИС
					равных взносов ежегодно в течение трёх лет. Консенсус-прогноз роста ценных
					бумаг на основании данных агентства Bloomberg.
				</p>
				<p>
					Настоящая публикация, включая любые её части и отдельные положения,
					не может рассматриваться в качестве оферты (включая публичную оферту), приглашения делать оферты. Все расчеты, котировки, процентные ставки,
					ставки доходности являются индикативными. Все расчеты могут быть подвержены существенным изменениям в связи изменением рыночной конъюнктуры.
				</p>
				<p>
					Прошлые показатели не являются гарантией будущих результатов.
					Стоимость инвестиций может упасть или вырасти, при этом инвестор может не вернуть себе сумму первоначальных инвестиций.
				</p>
				<p>
					Информацию, содержащуюся в данном материале, не следует рассматривать
					в качестве предложения, совета, приглашения или побудительной причины приобрести либо продать те или иные ценные бумаги, либо прочие финансовые инструменты.
				</p>
				<p>
					Данная информация не основана на конкретных обстоятельствах, связанных
					с указанным получателем данной информации.
				</p>
				<p class="footer__hidden">
					АО «ИК «Ай Ти Инвест»
					ИНН 7717116241  КПП 770301001 ОКПО 54776777
					Лицензии  профессионального участника рынка ценных бумаг №045-07516-010000, №045-07514-100000, №045-08543-000100
					©2000-2018 ITI Capital онлайн-брокер
				</p>
			</div>
		</div>
	</footer>