<header class="header">
	<div class="header__head">
		<div class="header__logo">
		<svg role="img" class="white-logo-hr-iti-capital">
			<use xlink:href="#white-logo-hr-iti-capital"></use>
		</svg>
		</div>
		<div class="header__phone">
			<div class="header__phone-icon">
				<svg role="img" class="vector">
					<use xlink:href="#vector"></use>
				</svg>
			</div>
			<a href="tel:88002003235" class="header__number">8 (800) 200-32-35</a>
		</div>
		<div class="header__phone-button">
			<a href="tel:88002003235">
				<svg role="img" class="phone">
					<use xlink:href="#phone"></use>
				</svg>
			</a>
		</div>
	</div>
	<div class="header__main">
		<h1 class="header__title">
			Инвестиционные продукты
		</h1>
		<h2 class="header__subtitle">
			с потенциальным уровнем доходности
		</h2>
		<h2 class="header__subtitle header__subtitle_red header__subtitle_visible">
			до +30% годовых!
		</h2>
		<h2 class="header__subtitle header__subtitle_red header__subtitle_unvisible">
			до +27.3% годовых!
		</h2>
		<div class="header__arrow">
			<svg role="img" class="vector-2">
				<use xlink:href="#vector-2"></use>
			</svg>
		</div>
	</div>
</header>
