<section class="questions">
	<div class="container">
		<div class="questions__wrap">
			<div class="questions__remain">
				<div class="questions__title">
					Остались вопросы?
				</div>
				<div class="questions__descr">
					Ответим в удобное для вас время
				</div>
			</div>
			<div class="questions__buttons">
				<a href="" class="questions__button">
					Спросить в чате →
				</a>
				<a href="" class="questions__button">
					Заказать звонок  →
				</a>
			</div>
		</div>
	</div>
</section>