<div class="container">
	<section class="strategy">
		<div class="strategy__head strategy-container_mobile">
			<div class="strategy__logo">
				<svg role="img" class="square-percent">
					<use xlink:href="#square-percent"></use>
				</svg>
			</div>
			<div class="strategy__header">
				Посчитайте доходность ваших вложений
			</div>
		</div>
		<div class="strategy__calc strategy-container_mobile">
			<div class="strategy__invest">
				<div class="strategy__invest-descr">
					Вы готовы инвестировать
				</div>
				<div class="strategy__price">
					<label class="strategy__value">
						<input class="strategy__count strategy__count_left" type="text" value="33 333">
						<span class="strategy__period">рублей в месяц</span>
					</label>
					<div class="strategy__or">
						или
					</div>
					<label class="strategy__value">
						<input class="strategy__count" type="text" value="400 000">
						<span class="strategy__period">рублей в год</span>
					</label>
				</div>
				<div class="strategy__line-slider">
					<!-- <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="none" viewBox="0 0 40 50" >
						<g filter="url(#a)">
							<path fill="#fff" d="M11.905 12.014l5-3.94a5 5 0 0 1 6.19 0l5 3.94A5 5 0 0 1 30 15.94v15.693a5 5 0 0 1-5 5H15a5 5 0 0 1-5-5V15.94a5 5 0 0 1 1.905-3.927z"/>
							<path stroke="#EC231A" stroke-width="2" d="M12.524 12.8l5-3.942a4 4 0 0 1 4.952 0l5 3.941A4 4 0 0 1 29 15.941v15.693a4 4 0 0 1-4 4H15a4 4 0 0 1-4-4V15.94a4 4 0 0 1 1.524-3.142z"/>
						</g>
						<defs>
							<filter id="a" width="40" height="49.634" x="0" y="0" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
								<feFlood flood-opacity="0" result="BackgroundImageFix"/>
								<feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
								<feOffset dy="3"/>
								<feGaussianBlur stdDeviation="5"/>
								<feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
								<feBlend in2="BackgroundImageFix" result="effect1_dropShadow"/>
								<feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
							</filter>
						</defs>
					</svg> -->
				</div>
			</div>
			<div class="strategy__vert-line"></div>
			<div class="strategy__invest">
				<div class="strategy__invest-descr strategy__invest-descr_bottom">
					Рассчитываете на доходность
				</div>
				<div class="strategy__option" onclick="o2.openStrategies(this)">
					<div class="strategy__wrapper">
					<div class="strategy__wrap">
						<div class="strategy__values">
							<div class="strategy__percent">
								<span>до </span>30%
							</div>
							<div class="strategy__specification">
								Средний уровень риска
							</div>
						</div>
						<div class="strategy__opening">
							<svg role="img" class="vector-2">
								<use xlink:href="#vector-2"></use>
							</svg>
						</div>
					</div>
					<ul class="strategy__list">
					</ul>
					</div>
				</div>
				<div class="strategy__horiz-line"></div>
			</div>
			<div class="strategy__horiz-line strategy__horiz-line_mobile"></div>
		</div>
		<div class="strategy__first-year">
			<div class="strategy__subtitle">
				Ваша инвестиция в первый год
			</div>
		</div>
		<div class="strategy__descr">
			<div class="strategy__three-lines">
				<div class="strategy__wr strategy-container_mobile">
					<div class="strategy__item">400 000</div>
					<div class="strategy__item">100%</div>
					<div class="strategy__item">Сумма вашей инвестиции</div>
				</div>
				<div class="strategy__wr strategy-container_mobile">
					<div class="strategy__item"><span>до </span><div class="strategy__change">100 000</div></div>
					<div class="strategy__item"><span>до </span> 25%</div>
					<div class="strategy__item">Потенциальный рост стоимости акций</div>
				</div>
				<div class="strategy__wr strategy__wr_bordernone strategy-container_mobile">
					<div class="strategy__item"><span>до </span><div class="strategy__change">20 000</div></div>
					<div class="strategy__item"><span>до </span>5%</div>
					<div class="strategy__item">Потенциальная доходность от выплаты дивидендов</div>
				</div>
			</div>
			<div class="strategy__wr strategy__wr_wd100">
				<div class="strategy__four-line">
					<div class="strategy__item">=520 000</div>
					<div class="strategy__item"><span>до </span>30%</div>
					<div class="strategy__item">Потенциальная годовая доходность стратегии</div>
				</div>
			</div>
		</div>
	<div class="selected__strategy"></div>
	</section>
</div>
