<!--  -->
<div class="strategies">
	<div class="strategies__advantage">
		<div class="strategies__percent-value">
			<div class="strategies__curs">
				В рублях, до
			</div>
			<div class="strategies__percents">
				30%
			</div>
		</div>
		<div class="strategies__story">
			<div class="strategies__portfolio">
				Модельный портфель российских акций со средним уровнем риска
			</div>
			<div class="strategies__last-title">
				Выбор ITI Capital
			</div>
			<div class="strategies__description">
				<p>Эксперты ITI Capital отобрали акции с хорошими перспективами роста котировок.</p>
				<p>Основные секторы инвестирования: нефтегазовый, горнодобывающий, технологии, финансы.</p>
				<p>50 000 руб. — минимальная сумма инвестиции.</p>
			</div>
		</div>
	</div>
	<div class="strategies__footer strategies-container_mobile">
		<div class="strategies__wrap">
			<svg role="img" class="logo-yandex">
				<use xlink:href="#logo-yandex"></use>
			</svg>
			<svg role="img" class="sberbank-logo">
				<use xlink:href="#sberbank-logo"></use>
			</svg>
			<svg role="img" class="novatek">
				<use xlink:href="#novatek"></use>
			</svg>
			<svg role="img" class="invalid-name">
				<use xlink:href="#invalid-name"></use>
			</svg>
		</div>
		<a href="" class="strategies__download">
			<svg role="img" class="download-pdf">
				<use xlink:href="#download-pdf"></use>
			</svg>
			<div class="strategies__download-text">Скачать описание</div>
		</a>
		<a href="" class="strategies__income">
			<svg role="img" class="group">
				<use xlink:href="#group"></use>
			</svg>
			<div class="strategies__income-text">Рассчитать доходность</div>
		</a>
		<a href="" class="strategies__button">
			Выбрать <span class="strategies__button-text_desk">этот модельный портфель</span><span class="strategies__button-text_mobile">эту стратегию</span> →
		</a>
	</div>
</div>
