<section class="why">
	<div class="container">
		<div class="why__logo">
			<svg role="img" class="red-logo">
				<use xlink:href="#red-logo"></use>
			</svg>
		</div>
		<div class="why__header">
			Почему ITI Capital
		</div>
	</div>
	<div class="container">
		<div class="why__left">
		</div>
		<div class="why__reasons">
			<div class="why__item">
				<svg role="img" class="group-20">
					<use xlink:href="#group-20"></use>
				</svg>
				<div class="why__descr">
					<div class="why__subtitle">Надежно</div>
					<p>Рейтинг надежности ААА</p>
					<p>18 лет на рынке</p>
					<p>Более 15 000 клиентов</p>
				</div>
			</div>
			<div class="why__item">
				<svg role="img" class="group-3">
					<use xlink:href="#group-3"></use>
				</svg>
				<div class="why__descr">
					<div class="why__subtitle">Доступно</div>
					<p>Откройте счет дистанционно</p>
					<p>Управляйте счетом и продуктами через Личный кабинет</p>
					<p>Наши консультанты всегда рядом, мы работаем 7 дней в неделю</p>
				</div>
			</div>
			<div class="why__item">
				<svg role="img" class="group-21">
					<use xlink:href="#group-21"></use>
				</svg>
				<div class="why__descr">
					<div class="why__subtitle">Удобно</div>
					<p>Подробная информация о счете в Личном кабинете</p>
					<p>Подписывайте документы простым SMS-сообщением</p>
					<p>Все инвестиционные стратегии под контролем наших аналитиков</p>
				</div>
			</div>
			<div class="why__about">
				<div class="why__phone">
					<div class="why__phone-icon">
						<svg role="img" class="vector">
							<use xlink:href="#vector"></use>
						</svg>
					</div>
					<a href="tel:88002003235" class="why__number">8 (800) 200-32-35</a>
				</div>
				<a href="" class="why__about-comp">
					О компании
				</a>
			</div>
		</div>
	</div>
</section>