@charset "UTF-8";

/* ********************** */

.bristol-myers-squibb-logo {
  width: 35px;
  height: 30px;
}

.dididentnaya-luk {
  width: 35px;
  height: 34px;
}

.dividentnaya-alrosa {
  width: 47px;
  height: 26px;
}

.document-percent {
  width: 48px;
  height: 55px;
}

.down-arrow {
  width: 490.656px;
  height: 490.656px;
}

.download-pdf {
  width: 30px;
  height: 36px;
}

.group-19-1 {
  width: 1024px;
  height: 546px;
}

.group-20 {
  width: 60px;
  height: 60px;
}

.group-21 {
  width: 60px;
  height: 60px;
}

.group-3 {
  width: 61px;
  height: 61px;
}

.group {
  width: 36px;
  height: 36px;
}

.invalid-name {
  width: 22px;
  height: 4px;
}

.line-5 {
  width: 80px;
  height: 21px;
}

.logo-dow {
  width: 80px;
  height: 27px;
}

.logo-microsoft {
  width: 35px;
  height: 35px;
}

.logo-tatneft {
  width: 21px;
  height: 41px;
}

.logo-uralkaliy {
  width: 61px;
  height: 40px;
}

.logo-yandex {
  width: 17px;
  height: 35px;
}

.micron-small-logo {
  width: 38px;
  height: 30px;
}

.mp-icon {
  width: 100px;
  height: 66px;
}

.netflix-logo {
  width: 18px;
  height: 33px;
}

.novatek {
  width: 41px;
  height: 43px;
}

.obligacionnaya-web-bank {
  width: 80px;
  height: 24px;
}

.opif-tgf-rf {
  width: 35px;
  height: 35px;
}

.phone {
  width: 35px;
  height: 35px;
}

.play {
  width: 121px;
  height: 121px;
}

.portfolio {
  width: 86px;
  height: 77px;
}

.red-logo {
  width: 229px;
  height: 104px;
}

.rosneft-sign {
  width: 27px;
  height: 35px;
}

.s-1-okay {
  width: 71px;
  height: 20px;
}

.sberbank-logo {
  width: 35px;
  height: 34px;
}

.square-percent {
  width: 48px;
  height: 48px;
}

.vector-2 {
  width: 19px;
  height: 11px;
}

.vector-3-1-1 {
  width: 40px;
  height: 50px;
}

.vector-3-1 {
  width: 40px;
  height: 50px;
}

.vector {
  width: 12px;
  height: 16px;
}

.visa-inc-logo {
  width: 61px;
  height: 20px;
}

.white-logo-hr-iti-capital {
  width: 172px;
  height: 46px;
}

/* vendors */

/*! nouislider - 14.0.2 - 6/28/2019 */

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
  transform-style: flat;
}

.noUi-connect {
  height: 100%;
  width: 100%;
}

.noUi-origin {
  height: 10%;
  width: 10%;
}

html:not([dir=rtl]) .noUi-horizontal .noUi-origin {
  left: auto;
  right: 0;
}

.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform .3s;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}

html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -17px;
  left: auto;
}

.noUi-target {
  background: #FAFAFA;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  -webkit-box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB;
  box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB;
}

.noUi-connects {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.noUi-connect {
  background: #3FB8AF;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  -webkit-box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB;
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB;
}

.noUi-active {
  -webkit-box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB;
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB;
}

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

/* base */

/*  Переменные со шрифтами  */

/*  Переменные с гарнитурами шрифтов  */

/*  Основные цвета  */

/* Разрешения */

@font-face {
  font-family: 'Aeroport';
  src: url("../fonts/Aeroport/Aeroport.eot");
  src: url("../fonts/Aeroport/Aeroport.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport/Aeroport.woff2") format("woff2"), url("../fonts/Aeroport/Aeroport.woff") format("woff"), url("../fonts/Aeroport/Aeroport.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.eot");
  src: url("../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url("../fonts/Lato/Lato-Semibold.eot");
  src: url("../fonts/Lato/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Semibold.woff") format("woff"), url("../fonts/Lato/Lato-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*  сбрасывает браузерное отображение элементов т.к. разные браузеры по разному отображают одно и тоже  */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
  background-color: transparent;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  padding: 0;
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*  Общая типографика для всех страниц. здесь описываются общие свойства для текстовых блоков  */

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

h1 {
  font-size: 42px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 24px;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 24px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

h4 {
  font-size: 15px;
  letter-spacing: 2.4px;
  line-height: 24px;
  margin: 0px 0 8px 0;
}

p {
  color: #6a7678;
  margin: 0;
}

b {
  font-weight: 700;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  outline: 0;
  text-decoration: none;
}

.h1-style {
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  letter-spacing: 0.9px;
}

.h2-style {
  font-size: 30px;
  font-family: "PT Sans", sans-serif;
  color: #232323;
}

.h3-style {
  font-size: 20px;
  color: #f4b600;
  letter-spacing: 0;
  line-height: 25px;
  margin: 0;
}

/* layouts */

/* blocks */

.header {
  min-height: 543px;
  width: 100%;
  padding-top: 1px;
  background-image: url("../img/group-19-1.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #292929;
}

.header__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 43px;
}

.header__logo {
  margin-top: -10px;
  margin-left: 32px;
}

.header__phone {
  margin-right: 50px;
  vertical-align: center;
  text-decoration: none;
  font-family: Lato;
  font-size: 21px;
  font-weight: 500;
}

.header__phone-icon {
  display: inline-block;
}

.header__number {
  color: #292929;
}

.header__phone-button {
  display: none;
}

.header__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 63px;
}

.header__title {
  font-family: Aeroport;
  font-size: 50px;
  line-height: 1;
  margin-bottom: 0;
}

.header__subtitle {
  margin-top: 21px;
  font-family: Aeroport;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 0;
}

.header__subtitle_red {
  color: #ec231a;
}

.header__subtitle_unvisible {
  display: none;
}

.header__arrow {
  margin-top: 27px;
}

.footer {
  overflow: hidden;
}

.footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.footer__left {
  position: relative;
  height: 753px;
  background-color: #fafafa;
  width: 27.7%;
}

.footer__left:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: #fafafa;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.footer__left svg {
  position: absolute;
  right: 80px;
  top: 52px;
}

.footer__right {
  position: relative;
  width: 72.3%;
  background-color: #fff;
  padding-top: 40px;
  padding-left: 19px;
}

.footer__right:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: #fff;
}

.footer__right p {
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  color: #121212;
  margin-bottom: 20px;
}

.footer__hidden {
  display: none;
}

.strategy {
  margin: 0 auto;
  width: 100%;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  margin-top: -143px;
  background-color: #fff;
  padding-top: 37px;
  position: relative;
  margin-bottom: -209px;
}

.strategy__head {
  text-align: center;
  font-family: Aeroport;
  font-size: 35px;
  line-height: 1.76;
  color: #131313;
}

.strategy__header {
  margin-top: -6px;
}

.strategy__calc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-top: 25px;
  padding-left: 7px;
  padding-right: 9px;
}

.strategy__invest-descr {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.52;
  color: #131313;
}

.strategy__price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 21px;
}

.strategy__value {
  position: relative;
  width: 160px;
  height: 83px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: solid 2px #a8d0e3;
  text-align: right;
}

.strategy__or {
  font-family: Lato;
  font-size: 14px;
  color: #131313;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: -16px;
}

.strategy__count {
  max-width: 136px;
  width: 100%;
  text-align: right;
  font-family: Aeroport;
  font-size: 30px;
  color: #131313;
  letter-spacing: -1.3px;
  border: none;
}

.strategy__period {
  position: absolute;
  bottom: 13px;
  right: 10px;
  font-family: Lato;
  font-size: 12px;
  color: #808080;
}

.strategy__vert-line {
  margin-top: 12px;
  border: 1px solid #d8d8d8;
}

.strategy__option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 83px;
  margin-top: 19px;
  border: solid 2px #a8d0e3;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.strategy__percent span {
  padding-left: 26px;
  font-family: Lato;
  font-size: 12px;
  color: #b2b2b2;
}

.strategy__percent {
  font-family: Aeroport;
  font-size: 35px;
  color: #131313;
}

.strategy__specification {
  margin-left: 15px;
  font-family: Lato;
  font-size: 14px;
  color: #808080;
}

.strategy__opening {
  margin-top: 8px;
  margin-left: 45px;
  margin-right: 15px;
}

.strategy__line-slider {
  margin-top: 34px;
  height: 3px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #dbf4ff;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.strategy__line-slider .noUi-handle {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 50px;
  width: 39px;
  background: none;
  background-image: url("../img/svg-for-sprite/vector-3-1.svg");
  top: -22px;
}

.strategy__line-slider :before {
  display: none;
}

.strategy__line-slider :after {
  display: none;
}

.strategy__line-slider .noUi-connect {
  background-color: #a8d0e3;
}

.strategy__line-slider svg {
  margin-top: -21px;
  margin-left: 56px;
}

.strategy__horiz-line {
  margin-top: 37px;
  border-bottom: 1px solid #d8d8d8;
}

.strategy__horiz-line_mobile {
  display: none;
}

.strategy__subtitle {
  margin-top: 46px;
  text-align: center;
  font-family: Lato;
  font-size: 21px;
  color: #131313;
}

.strategy__descr {
  margin-top: 27px;
  font-family: Aeroport;
  font-size: 30px;
  line-height: 35px;
  color: #131313;
}

.strategy__three-lines {
  width: 100%;
}

.strategy__three-lines .strategy__wr {
  border-bottom: 1px solid #d8d8d8;
}

.strategy__item:nth-child(1),
.strategy__item:nth-child(2) {
  border-right: 1px solid #d8d8d8;
}

.strategy__wr:nth-child(3) {
  border-bottom: 0;
}

.strategy__item {
  text-align: right;
  padding-right: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.strategy__item:nth-child(3n-2) {
  max-width: 176px;
  width: 100%;
}

.strategy__item:nth-child(3n-1) {
  padding-right: 42px;
  max-width: 160px;
  width: 100%;
}

.strategy__item:nth-child(3n) {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 479px;
  width: 100%;
  text-align: left;
  padding-left: 47px;
  padding-right: 0;
  font-family: Lato;
  font-size: 16px;
}

.strategy__item span {
  font-family: Lato;
  font-size: 12px;
  color: #b2b2b2;
}

.strategy__change {
  display: inline;
}

.strategy__item:nth-child(10),
.strategy__item:nth-child(11),
.strategy__item:nth-child(12) {
  background-color: #fffce3;
  border-top: 3px solid #ece9cc;
  border-bottom: 1px solid #ece9cc;
}

.strategy__wr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 814px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.strategy__wr_wd100 {
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid #ece9cc;
  border-top: 3px solid #ece9cc;
  background-color: #fffce3;
  padding-left: auto;
  padding-right: auto;
}

.strategy__four-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  padding-bottom: 3px;
}

.strategy__four-line .strategy__item:nth-child(1) {
  white-space: nowrap;
}

.strategy__wr_bordernone .strategy__item {
  border-bottom: none;
}

.strategy__wr_wd100 .strategy__item {
  border-right: none;
  border-bottom: none;
}

.strategy .strategies__income {
  display: none;
}

.strategies {
  padding-top: 44px;
}

.strategies__advantage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 43px;
}

.strategies__percent-value {
  height: 77px;
  padding-left: 43px;
  border-left: 5px solid #ec231a;
  padding-top: 4px;
}

.strategies__curs {
  font-family: Lato;
  font-size: 14px;
  color: #b2b2b2;
}

.strategies__percents {
  font-family: Aeroport;
  font-size: 48px;
  color: #131313;
  line-height: 46px;
}

.strategies__story {
  max-width: 480px;
  width: 100%;
  margin-right: 18%;
  padding-top: 4px;
  padding-left: 2px;
}

.strategies__portfolio {
  font-family: Lato;
  font-size: 14px;
  color: #808080;
}

.strategies__last-title {
  font-family: Aeroport;
  font-size: 35px;
  color: #131313;
  padding-top: 2px;
  margin-left: -2px;
  margin-bottom: 19px;
}

.strategies__description p:not(:last-child) {
  margin-bottom: 11px;
}

.strategies__description p:nth-child(2) {
  margin-left: -1px;
}

.strategies__description p {
  font-family: Lato;
  font-size: 16px;
  line-height: 25px;
  color: #292929;
}

.strategies__footer {
  height: 93px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 48px;
  padding-right: 51px;
  padding-bottom: 26px;
  padding-top: 25px;
  border-top: solid 1px #e5e5e5;
}

.strategies__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.strategies__wrap svg {
  margin-right: 15px;
}

.strategies__address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.strategies__download {
  display: none;
}

.strategies__download-text {
  max-width: 53px;
  width: 100%;
  margin-left: 10px;
  font-family: Lato;
  font-size: 12px;
  color: #767676;
}

.strategies__income-text {
  max-width: 65px;
  width: 100%;
  margin-left: 10px;
  font-family: Lato;
  line-height: 15px;
  font-size: 12px;
  color: #767676;
}

.strategies__income {
  margin-left: auto;
  margin-top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.strategies__button {
  display: block;
  margin-left: 20px;
  width: 326px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #e05b50;
  font-family: Lato;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}

.strategies__button-text_mobile {
  display: none;
}

.all-strats {
  background-color: #f2f2f2;
  padding-top: 285px;
}

.all-strats__head {
  text-align: center;
}

.all-strats__logo {
  margin-bottom: 31px;
}

.all-strats__header {
  font-family: Aeroport;
  font-size: 35px;
  color: #131313;
  line-height: 49px;
}

.all-strats__item {
  background-color: #fff;
  margin-top: 33px;
}

.all-strats__wrap {
  margin-left: auto;
  margin-right: auto;
}

.more {
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
  padding-bottom: 110px;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1700px;
  top: 420px;
  left: 0;
  background-image: url("../img/architecture-black-diamond-black-and-white-18932@2x.png");
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-background-size: contain;
  background-size: contain;
  z-index: -1;
}

.more__head {
  text-align: center;
}

.more__logo {
  line-height: 0;
}

.more__header {
  margin-left: 5px;
  font-family: Aeroport;
  font-size: 35px;
  color: #131313;
}

.more__descr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-right: 38px;
  padding-left: 90px;
  padding-bottom: 220px;
  margin-top: 60px;
  margin-left: -webkit-calc((100% - 914px) / 2);
  margin-left: calc((100% - 914px) / 2);
  background-color: #fff;
  padding-right: 20px;
}

.more__right {
  padding-top: 22px;
}

.more__text {
  padding-top: 15px;
  padding-right: 38px;
  margin-left: 95px;
}

.more__text p {
  margin-bottom: 16px;
  font-family: Lato;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}

.more__video {
  margin-top: -164px;
  margin-left: auto;
  margin-right: auto;
  width: 915px;
  height: 515px;
  background-color: red;
}

.more__text .more__bold {
  font-family: Lato-Semibold;
  line-height: 28px;
}

.more__text .more__bold:nth-child(4) {
  margin-top: 40px;
}

.why {
  overflow: hidden;
}

.why .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.why__logo {
  position: relative;
  height: 238px;
  background-color: #f2f2f2;
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.why__logo:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.why__logo svg {
  position: absolute;
  right: 0;
  bottom: 0;
}

.why__header {
  position: relative;
  width: 75%;
  padding-top: 153px;
  padding-left: 51px;
  background-color: #e8e8e8;
  font-family: Aeroport;
  font-size: 35px;
  color: #121212;
}

.why__header:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: #e8e8e8;
}

.why__left {
  position: relative;
  height: 705px;
  background-color: #fff;
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.why__left:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.why__reasons {
  position: relative;
  width: 75%;
  background-color: #fafafa;
  padding-top: 71px;
  padding-bottom: 75px;
  padding-left: 50px;
}

.why__reasons:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  z-index: -1;
  background-color: #fafafa;
}

.why__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -webkit-align-items: top;
  -ms-flex-align: top;
  align-items: top;
  font-family: Lato;
  font-size: 16px;
  line-height: 16px;
  color: #121212;
  margin-bottom: 50px;
}

.why__item:nth-child(3) {
  margin-bottom: 44px;
}

.why__subtitle {
  font-family: Aeroport;
  font-size: 30px;
  color: #121212;
  margin-bottom: 30px;
}

.why__descr {
  margin-left: 37px;
}

.why__descr p {
  margin-bottom: 11px;
}

.why__about {
  padding-left: 100px;
  padding-right: 53px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.why__phone {
  vertical-align: center;
  text-decoration: none;
  font-family: Lato;
  font-size: 21px;
  font-weight: 500;
}

.why__phone-icon {
  display: inline-block;
}

.why__number {
  padding-bottom: 4px;
  color: #292929;
  border-bottom: 1px solid #a8d0e3;
}

.why__about-comp {
  display: block;
  height: 22px;
  font-family: Lato;
  font-size: 14px;
  color: #767676;
  border-bottom: 1px solid #c4c4c4;
}

.questions {
  background-color: #f2f2f2;
  padding-top: 79px;
  padding-bottom: 74px;
}

.questions__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.questions__title {
  font-family: Aeroport;
  font-size: 35px;
  line-height: 1.08;
  color: #131313;
}

.questions__descr {
  margin-left: 3px;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.41;
  color: #131313;
}

.questions__button {
  width: 215px;
  height: 42px;
  padding-top: 6px;
  text-align: center;
  border: solid 2px #e05b50;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #fff;
  font-family: Lato;
  font-size: 16px;
  color: #292929;
}

.questions__button:last-child {
  margin-left: 25px;
}

.questions__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

body {
  min-width: 320px;
}

.dropdown-arrow path {
  stroke: green;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

svg > use {
  fill: none;
}

.svg-symbol {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.container {
  max-width: 944px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1023px) {
  body {
    background-color: pink;
  }

  .header {
    -webkit-background-size: 343px cover;
    background-size: 343px cover;
    min-height: 343px;
  }

  .header__head {
    margin-top: 24px;
  }

  .header__logo {
    height: 35px;
    width: 131px;
  }

  .header__logo svg {
    height: 35px;
    width: 131px;
  }

  .header__phone {
    display: none;
  }

  .header__title {
    max-width: 202px;
    text-align: center;
    font-family: Aeroport;
    font-size: 24px;
    line-height: 1;
    color: #131313;
  }

  .header__subtitle {
    max-width: 292px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
  }

  .header__phone-icon,
  .header__number {
    display: none;
  }

  .header__phone-button {
    display: block;
    margin-right: 10px;
  }

  .header__subtitle_visible {
    display: none;
  }

  .header__subtitle_unvisible {
    display: block;
  }

  .footer .container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer__left {
    width: 100%;
    height: 150px;
    margin-bottom: -15px;
    background-color: #fff;
  }

  .footer__left svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .footer__right {
    width: 100%;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .footer__right p {
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 12px;
    line-height: 22px;
    color: #767676;
  }

  .footer__hidden {
    display: block;
  }

  .strategy-container_mobile {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .strategy {
    margin-bottom: 0;
    margin-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .strategy__calc {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .strategy__invest-descr {
    text-align: center;
  }

  .strategy__four-line {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-left: 10px;
  }

  .strategy__or {
    margin-left: 14px;
    margin-right: 14px;
  }

  .strategy__vert-line {
    width: 100%;
    height: 0;
    margin-top: 34px;
    margin-bottom: 21px;
  }

  .strategy__horiz-line {
    display: none;
  }

  .strategy__horiz-line_mobile {
    display: block;
    width: 100%;
    height: 0;
    margin-top: 31px;
    border: 1px solid #d8d8d8;
  }

  .strategy__item:nth-child(3n) {
    padding-left: 15px;
  }

  .strategy__wr_wd100 .strategy__item:nth-child(1) {
    padding-right: 30px;
  }

  .strategies-container_mobile {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .strategies__advantage {
    margin-top: 0px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .strategies__percent-value {
    height: 59px;
    padding-left: 10px;
    border-left: 3px solid #ec231a;
  }

  .strategies__story {
    width: 100%;
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 15px;
  }

  .strategies__curs {
    font-size: 12px;
  }

  .strategies__percents {
    font-size: 35px;
  }

  .strategies__income {
    margin-left: 20px;
  }

  .strategies__footer {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .strategies__download {
    margin-top: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }

  .strategies__button {
    margin-top: 0px;
    width: 250px;
  }

  .strategies__button-text_mobile {
    display: inline;
  }

  .strategies__button-text_desk {
    display: none;
  }

  .all-strats {
    padding-top: 38px;
  }

  .all-strats__wrap {
    width: 100%;
  }

  .all-strats__logo {
    margin-bottom: 13px;
  }

  .all-strats__header {
    font-size: 24px;
    max-width: 294px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .all-strats__head {
    margin-bottom: 35px;
  }

  .all-strats__item {
    margin-top: 15px;
  }

  .more {
    padding-top: 36px;
    padding-bottom: 60px;
  }

  .mp-icon {
    width: 87px;
  }

  .more__logo {
    margin-bottom: 11px;
  }

  .more__head {
    margin-right: 0;
  }

  .more__header {
    font-size: 24px;
  }

  .more__right {
    padding-top: 0;
  }

  .more__right svg {
    width: 57px;
  }

  .more__descr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0;
    margin-top: 40px;
    padding-top: 26px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 43px;
  }

  .more__text {
    padding-top: 9px;
    padding-right: 8px;
    margin-top: 0;
    padding-left: 4px;
    margin-left: 0;
  }

  .more__text p {
    line-height: 22px;
    margin-bottom: 19px;
  }

  .more__text p:nth-child(3) {
    display: none;
  }

  .more__text p:last-child {
    margin-bottom: 0;
  }

  .more__video {
    max-width: 420px;
    max-height: 280px;
    margin-top: 0px;
  }

  .more__text .bold:nth-child(4) {
    margin-top: 33px;
  }

  .more__text .more__bold {
    margin-bottom: 17px;
    line-height: 23px;
  }

  .more::before {
    display: none;
  }

  .why .container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .why__logo {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 73px;
    background-image: -webkit-linear-gradient(top, #d9d9d9 38px, #fff 38px);
    background-image: -o-linear-gradient(top, #d9d9d9 38px, #fff 38px);
    background-image: linear-gradient(to bottom, #d9d9d9 38px, #fff 38px);
  }

  .why__logo svg {
    width: 161px;
    left: 0;
    top: -16px;
  }

  .why__header {
    padding-left: 0;
    text-align: center;
    padding-top: 28px;
    background-color: #fff;
    font-size: 30px;
    width: 100%;
  }

  .why__left {
    display: none;
  }

  .why__reasons {
    width: 100%;
    padding-left: 14px;
    padding-right: 2px;
    padding-bottom: 40px;
    padding-top: 8px;
    background-color: #fff;
  }

  .why__item {
    margin-top: 30px;
    margin-left: 0;
  }

  .why__item svg {
    margin-top: -6px;
    height: 45px;
    width: 45px;
  }

  .why__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .why__about-comp {
    margin-top: 19px;
  }

  .questions {
    padding-top: 29px;
    padding-bottom: 40px;
    background-color: #e4e4e4;
  }

  .questions__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .questions__title {
    font-size: 24px;
  }

  .questions__descr {
    margin-top: 3px;
    font-size: 14px;
  }

  .questions__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
  }

  .questions__button:last-child {
    margin-left: 0;
    margin-top: 25px;
  }

  .container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .strategy__header {
    font-size: 24px;
  }

  .strategy__invest {
    width: 300px;
  }

  .strategy__count {
    font-size: 24px;
  }

  .strategy__option {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }

  .strategy__percent span {
    padding-left: 0;
  }

  .strategy__percent {
    font-size: 30px;
  }

  .strategy__specification {
    margin-left: 0;
    font-size: 12px;
  }

  .strategy__opening {
    margin-right: 0;
    margin-left: 0;
  }

  .strategy__subtitle {
    font-size: 16px;
  }

  .strategy__wr {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .strategy__item:nth-child(3n-2),
  .strategy__item:nth-child(3n-1) {
    font-size: 24px;
    width: 140px;
  }

  .strategy__three-lines {
    width: 425px;
    margin-left: auto;
    margin-right: auto;
  }

  .strategy__item {
    text-align: right;
    padding-right: 25px;
    margin-top: 12px;
  }

  .strategy__item:nth-child(3n) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    padding-bottom: 16px;
    padding-top: 10px;
    margin-top: 0;
  }

  .strategy__four-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .strategy__item:nth-child(3n-1),
  .strategy__item:nth-child(3n-2) {
    border-bottom: none;
  }

  .strategy__item:nth-child(3n-1) {
    padding-right: 47px;
    border-right: none;
  }

  .strategy__line-bottom_hidden {
    display: none;
  }

  .strategy__invest-descr {
    font-size: 16px;
  }

  .strategies__advantage {
    margin-bottom: 18px;
  }

  .strategies__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 0;
    height: auto;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .strategies__address {
    margin-left: 0;
  }

  .strategies__wrap {
    max-width: 300px;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .strategies__download {
    margin-left: 0;
    margin-top: 30px;
  }

  .strategies__income {
    margin-top: 30px;
  }

  .strategies__button {
    margin-left: 0;
    margin-top: 30px;
  }

  .strategies__story {
    margin-right: 0;
  }
}

@media (max-width: 425px) {
  .header {
    padding-bottom: 43px;
  }

  .header__logo {
    margin-left: 10px;
    margin-top: 0;
  }

  .header__head {
    margin-bottom: 54px;
  }

  .header__main {
    margin-top: 0;
  }

  .header__title {
    margin-bottom: 11px;
    line-height: 1.3;
  }

  .header__subtitle {
    margin-top: 0;
    margin-bottom: 13px;
  }

  .header__arrow {
    margin-top: 0;
    padding-top: 20px;
  }

  .strategy {
    padding-top: 30px;
  }

  .strategy__logo {
    margin-bottom: 4px;
  }

  .strategy__header {
    line-height: 1.3;
    margin-bottom: 35px;
  }

  .strategy__calc {
    margin-top: 0;
  }

  .strategy__invest {
    margin-top: -15px;
  }

  .strategy__price {
    margin-top: 0;
  }

  .strategy__invest-descr {
    margin-bottom: 13px;
  }

  .strategy__or {
    margin-right: 6px;
    margin-left: 6px;
  }

  .strategy__value {
    height: 75px;
    padding-right: 11px;
  }

  .strategy__count_left {
    padding-right: 6px;
  }

  .strategy__line-slider svg {
    margin-left: 48px;
  }

  .strategy__vert-line {
    margin-bottom: 33px;
  }

  .strategy__option {
    margin-top: 0;
    height: auto;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .strategy__invest-descr_bottom {
    margin-bottom: 13px;
  }

  .strategy__vert-line,
  .strategy__horiz-line {
    border: none;
    border-bottom: 1px solid #d8d8d8;
  }

  .strategy__horiz-line {
    margin-top: 23px;
    margin-bottom: -2px;
  }

  .strategy__subtitle {
    margin-top: 21px;
  }

  .strategy__descr {
    margin-top: 0;
    line-height: 16px;
    margin-bottom: -38px;
  }

  .strategy__line-slider {
    width: 270px;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
  }

  .strategy__three-lines {
    width: 300px;
    padding-bottom: 3px;
  }

  .strategy__wr .strategy__item:nth-child(2) {
    border-right: none;
  }

  .strategy__wr_wd100 .strategy__item:first-child {
    border-right: 1px solid #ece9cc;
  }

  .strategy__last-title {
    font-size: 30px;
  }

  .strategy__download-text {
    text-align: center;
  }

  .strategy__four-line {
    width: 100%;
  }

  .strategies__footer {
    border-top: none;
  }

  .more__video {
    width: 320px;
    height: 180px;
    margin-top: 0px;
  }

  .why__reasons {
    padding-top: 38px;
    padding-left: 0;
  }

  .why__subtitle {
    margin-bottom: 24px;
    line-height: 18px;
  }

  .why__item {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 23px;
    padding-left: 14px;
  }

  .why__item svg {
    height: 45px;
    width: 100px;
  }

  .why__item:nth-child(2) p {
    margin-bottom: 20px;
  }

  .why__item:nth-child(3) {
    margin-bottom: 22px;
  }

  .why__descr {
    margin-left: 20px;
  }

  .why__descr p {
    line-height: 20px;
    margin-bottom: 17px;
  }

  .why__about {
    margin-left: -15px;
  }

  .why__item:first-child svg {
    width: 45px;
  }
}