@charset "UTF-8";

/* ********************** */

.bristol-myers-squibb-logo {
  width: 35px;
  height: 30px;
}

.dididentnaya-luk {
  width: 35px;
  height: 34px;
}

.dividentnaya-alrosa {
  width: 47px;
  height: 26px;
}

.document-percent {
  width: 48px;
  height: 55px;
}

.down-arrow {
  width: 490.656px;
  height: 490.656px;
}

.download-pdf {
  width: 30px;
  height: 36px;
}

.group-19-1 {
  width: 1024px;
  height: 546px;
}

.group-20 {
  width: 60px;
  height: 60px;
}

.group-21 {
  width: 60px;
  height: 60px;
}

.group-3 {
  width: 61px;
  height: 61px;
}

.group {
  width: 36px;
  height: 36px;
}

.invalid-name {
  width: 22px;
  height: 4px;
}

.logo-dow {
  width: 80px;
  height: 27px;
}

.logo-microsoft {
  width: 35px;
  height: 35px;
}

.logo-tatneft {
  width: 21px;
  height: 41px;
}

.logo-uralkaliy {
  width: 61px;
  height: 40px;
}

.logo-yandex {
  width: 17px;
  height: 35px;
}

.micron-small-logo {
  width: 38px;
  height: 30px;
}

.mp-icon {
  width: 100px;
  height: 66px;
}

.netflix-logo {
  width: 18px;
  height: 33px;
}

.novatek {
  width: 41px;
  height: 43px;
}

.obligacionnaya-web-bank {
  width: 80px;
  height: 24px;
}

.opif-tgf-rf {
  width: 35px;
  height: 35px;
}

.phone {
  width: 35px;
  height: 35px;
}

.play {
  width: 121px;
  height: 121px;
}

.portfolio {
  width: 86px;
  height: 77px;
}

.red-logo {
  width: 229px;
  height: 104px;
}

.rosneft-sign {
  width: 27px;
  height: 35px;
}

.s-1-okay {
  width: 71px;
  height: 20px;
}

.sberbank-logo {
  width: 35px;
  height: 34px;
}

.square-percent {
  width: 48px;
  height: 48px;
}

.vector-2 {
  width: 19px;
  height: 11px;
}

.vector-3-1-1 {
  width: 40px;
  height: 50px;
}

.vector-3-1 {
  width: 40px;
  height: 50px;
}

.vector {
  width: 12px;
  height: 16px;
}

.visa-inc-logo {
  width: 61px;
  height: 20px;
}

.white-logo-hr-iti-capital {
  width: 172px;
  height: 46px;
}

/* base */

/*  Переменные со шрифтами  */

/*  Переменные с гарнитурами шрифтов  */

/*  Основные цвета  */

/* Разрешения */

@font-face {
  font-family: 'Aeroport';
  src: url("../fonts/Aeroport/Aeroport.eot");
  src: url("../fonts/Aeroport/Aeroport.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport/Aeroport.woff2") format("woff2"), url("../fonts/Aeroport/Aeroport.woff") format("woff"), url("../fonts/Aeroport/Aeroport.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.eot");
  src: url("../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*  сбрасывает браузерное отображение элементов т.к. разные браузеры по разному отображают одно и тоже  */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
  background-color: transparent;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  padding: 0;
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*  Общая типографика для всех страниц. здесь описываются общие свойства для текстовых блоков  */

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

h1 {
  font-size: 42px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 24px;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 24px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

h4 {
  font-size: 15px;
  letter-spacing: 2.4px;
  line-height: 24px;
  margin: 0px 0 8px 0;
}

p {
  margin-top: 10px;
  color: #6a7678;
}

b {
  font-weight: 700;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  outline: 0;
  text-decoration: none;
}

.h1-style {
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  letter-spacing: 0.9px;
}

.h2-style {
  font-size: 30px;
  font-family: "PT Sans", sans-serif;
  color: #232323;
}

.h3-style {
  font-size: 20px;
  color: #f4b600;
  letter-spacing: 0;
  line-height: 25px;
  margin: 0;
}

/* layouts */

/* blocks */

.header {
  min-height: 543px;
  width: 100%;
  padding-top: 1px;
  background-image: url("../img/group-19-1.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #292929;
}

.header__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 54px;
}

.header__logo {
  margin-left: 32px;
}

.header__phone {
  margin-right: 50px;
  vertical-align: center;
  text-decoration: none;
  font-family: Lato;
  font-size: 21px;
  font-weight: 500;
}

.header__phone-icon {
  display: inline-block;
}

.header__number {
  color: #292929;
}

.header__phone-button {
  display: none;
}

.header__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
}

.header__title {
  font-family: Aeroport;
  font-size: 50px;
  line-height: 1;
  margin-bottom: 0;
}

.header__subtitle {
  margin-top: 16px;
  font-family: Aeroport;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 0;
}

.header__subtitle_red {
  color: #ec231a;
}

.header__subtitle_unvisible {
  display: none;
}

.header__arrow {
  background-image: url("../img/svg-for-sprite/down-arrow.svg");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
}

.footer-bot {
  background-color: gray;
  background: #192633;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer-bot p {
  color: white;
}

.strategy {
  margin: 0 auto;
  width: 100%;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  margin-top: -143px;
  background-color: #fff;
  padding-top: 37px;
}

.strategy__head {
  text-align: center;
  font-family: Aeroport;
  font-size: 35px;
  line-height: 1.76;
  color: #131313;
}

.strategy__calc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-top: 30px;
}

.strategy__invest-descr {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.52;
  color: #131313;
}

.strategy__price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 19px;
}

.strategy__value {
  width: 160px;
  height: 83px;
  padding-top: 10px;
  padding-right: 10px;
  border: solid 2px #a8d0e3;
  text-align: right;
}

.strategy__or {
  font-family: Lato;
  font-size: 14px;
  color: #131313;
  margin-left: 12px;
  margin-right: 12px;
}

.strategy__count {
  font-family: Aeroport;
  font-size: 30px;
  color: #131313;
}

.strategy__period {
  margin-top: -5px;
  font-family: Lato;
  font-size: 12px;
  color: #808080;
}

.strategy__vert-line {
  border: 1px solid #d8d8d8;
}

.strategy__option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 83px;
  margin-top: 19px;
  border: solid 2px #a8d0e3;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.strategy__percent span {
  padding-left: 26px;
  font-family: Lato;
  font-size: 12px;
  color: #b2b2b2;
}

.strategy__percent {
  font-family: Aeroport;
  font-size: 35px;
  color: #131313;
}

.strategy__specification {
  margin-left: 15px;
  font-family: Lato;
  font-size: 14px;
  color: #808080;
}

.strategy__opening {
  margin-left: 45px;
  margin-right: 15px;
}

.strategy__line-slider {
  margin-top: 31px;
  height: 0;
  border-bottom: solid 3px transparent;
  -webkit-border-image: -webkit-linear-gradient(left, #a8d0e3 80px, #dbf4ff 80px);
  -o-border-image: -o-linear-gradient(left, #a8d0e3 80px, #dbf4ff 80px);
  border-image: linear-gradient(to right, #a8d0e3 80px, #dbf4ff 80px);
  border-image-slice: 1;
}

.strategy__line-slider svg {
  margin-top: -23px;
  margin-left: 65px;
}

.strategy__horiz-line {
  margin-top: 31px;
  border: 1px solid #d8d8d8;
}

.strategy__horiz-line_mobile {
  display: none;
}

.strategy__subtitle {
  margin-top: 48px;
  text-align: center;
  font-family: Lato;
  font-size: 21px;
  color: #131313;
}

.strategy__descr {
  margin-top: 32px;
}

.strategy__three-lines {
  width: 100%;
}

.strategy__three-lines .strategy__wr {
  border-bottom: 1px solid #d8d8d8;
}

.strategy__three-lines .strategy__wr .strategy__item:nth-child(1),
.strategy__three-lines .strategy__wr .strategy__item:nth-child(2) {
  border-right: 1px solid #d8d8d8;
}

.strategy__wr:nth-child(3) {
  border-bottom: 0;
}

.strategy__item {
  text-align: right;
  padding-right: 35px;
  line-height: 1.56;
}

.strategy__item:nth-child(3n-2) {
  width: 200px;
  font-family: Aeroport;
  font-size: 30px;
  color: #131313;
}

.strategy__item:nth-child(3n-1) {
  width: 160px;
  font-family: Aeroport;
  font-size: 30px;
  color: #131313;
}

.strategy__item:nth-child(3n) {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 307px;
  text-align: left;
  padding-left: 50px;
  padding-right: 0;
  font-family: Lato;
  font-size: 16px;
  color: #131313;
}

.strategy__item span {
  font-family: Lato;
  font-size: 12px;
  color: #b2b2b2;
}

.strategy__item:nth-child(10),
.strategy__item:nth-child(11),
.strategy__item:nth-child(12) {
  background-color: #fffce3;
  border-top: 3px solid #ece9cc;
  border-bottom: 1px solid #ece9cc;
}

.strategy__advantage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 47px;
}

.strategy__percent-value {
  height: 77px;
  padding-left: 43px;
  border-left: 5px solid #ec231a;
}

.strategy__curs {
  font-family: Lato;
  font-size: 14px;
  color: #b2b2b2;
}

.strategy__percents {
  margin-top: -12px;
  font-family: Aeroport;
  font-size: 48px;
  color: #131313;
}

.strategy__story {
  width: 48%;
  margin-right: 18%;
}

.strategy__portfolio {
  font-family: Lato;
  font-size: 14px;
  color: #808080;
}

.strategy__last-title {
  font-family: Aeroport;
  font-size: 35px;
  color: #131313;
}

.strategy__description {
  font-family: Lato;
  font-size: 16px;
  color: #292929;
}

.strategy__line-bottom {
  height: 0px;
  margin-top: 25px;
  border-top: solid 1px #e5e5e5;
}

.strategy__footer {
  height: 93px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 48px;
  padding-right: 20px;
}

.strategy__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.strategy__wrap svg {
  margin-right: 15px;
}

.strategy__comp {
  margin-right: 15px;
}

.strategy__comp:nth-child {
  margin-top: -10px;
}

.strategy__button {
  width: 326px;
  height: 42px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #e05b50;
  font-family: Lato;
  font-size: 16px;
  color: #fff;
}

.strategy__button-text_mobile {
  display: none;
}

.strategy__wr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 814px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.strategy__wr_wd100 {
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid #ece9cc;
  border-top: 3px solid #ece9cc;
  background-color: #fffce3;
  padding-left: auto;
  padding-right: auto;
}

.strategy__four-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.strategy__wr_bordernone .strategy__item {
  border-bottom: none;
}

.strategy__wr_wd100 .strategy__item {
  border-right: none;
  border-bottom: none;
}

.strategy__download {
  display: none;
}

.strategy__download-text {
  width: 53px;
  margin-left: 10px;
  font-family: Lato;
  font-size: 12px;
  color: #767676;
}

body {
  min-width: 320px;
}

.dropdown-arrow path {
  stroke: green;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

svg > use {
  fill: none;
}

.svg-symbol {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.container {
  max-width: 974px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1024px) {
  body {
    background-color: pink;
  }

  .header {
    -webkit-background-size: 343px cover;
    background-size: 343px cover;
    min-height: 343px;
  }

  .header__head {
    margin-top: 24px;
  }

  .header__logo {
    height: 35px;
    width: 131px;
  }

  .header__logo svg {
    height: 35px;
    width: 131px;
  }

  .header__phone {
    display: none;
  }

  .header__title {
    max-width: 202px;
    text-align: center;
    font-family: Aeroport;
    font-size: 24px;
    line-height: 1;
    color: #131313;
  }

  .header__subtitle {
    max-width: 292px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
  }

  .header__phone-icon,
  .header__number {
    display: none;
  }

  .header__phone-button {
    display: block;
    margin-right: 10px;
  }

  .header__subtitle_visible {
    display: none;
  }

  .header__subtitle_unvisible {
    display: block;
  }

  .strategy-container_mobile {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .strategy {
    margin-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .strategy__calc {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .strategy__invest-descr {
    text-align: center;
  }

  .strategy__or {
    margin-left: 14px;
    margin-right: 14px;
  }

  .strategy__vert-line {
    width: 100%;
    height: 0;
    margin-top: 34px;
    margin-bottom: 21px;
  }

  .strategy__horiz-line {
    display: none;
  }

  .strategy__horiz-line_mobile {
    display: block;
    width: 100%;
    height: 0;
    margin-top: 31px;
    border: 1px solid #d8d8d8;
  }

  .strategy__item:nth-child(3n) {
    padding-left: 15px;
  }

  .strategy__wr_wd100 .strategy__item:nth-child(1) {
    padding-right: 30px;
  }

  .container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .strategy__header {
    font-size: 24px;
  }

  .strategy__invest {
    width: 300px;
  }

  .strategy__count {
    font-size: 24px;
  }

  .strategy__option {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }

  .strategy__percent span {
    padding-left: 0;
  }

  .strategy__percent {
    font-size: 30px;
  }

  .strategy__specification {
    margin-left: 0;
    font-size: 12px;
  }

  .strategy__opening {
    margin-right: 0;
    margin-left: 0;
  }

  .strategy__story {
    margin-right: 0;
  }

  .strategy__subtitle {
    font-size: 16px;
  }

  .strategy__wr {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .strategy__item:nth-child(3n-2),
  .strategy__item:nth-child(3n-1) {
    font-size: 24px;
    width: 140px;
  }

  .strategy__three-lines {
    width: 425px;
    margin-left: auto;
    margin-right: auto;
  }

  .strategy__item {
    text-align: right;
    padding-right: 25px;
    margin-top: 12px;
  }

  .strategy__item:nth-child(3n) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    padding-bottom: 15px;
  }

  .strategy__four-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 495px;
    margin-left: auto;
    margin-right: auto;
  }

  .strategy__item:nth-child(3n-1),
  .strategy__item:nth-child(3n-2) {
    border-bottom: none;
  }

  .strategy__item:nth-child(3n-1) {
    border-right: none;
  }

  .strategy__advantage {
    margin-top: 25px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .strategy__percent-value {
    height: 59px;
    padding-left: 10px;
    border-left: 3px solid #ec231a;
  }

  .strategy__story {
    width: 100%;
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 15px;
  }

  .strategy__curs {
    font-size: 12px;
  }

  .strategy__percents {
    font-size: 35px;
  }

  .strategy__line-bottom_hidden {
    display: none;
  }

  .strategy__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 35px;
    height: auto;
    padding-bottom: 40px;
  }

  .strategy__download {
    margin-top: 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .strategy__button {
    margin-top: 30px;
    width: 250px;
  }

  .strategy__button-text_mobile {
    display: inline;
  }

  .strategy__button-text_desk {
    display: none;
  }

  .strategy__invest-descr {
    font-size: 16px;
  }
}