.strategy
{
	margin: 0 auto;
	width: 100%;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
	margin-top: -143px;
	background-color: #fff;
	padding-top: 37px;
}
.strategy__head
{
	text-align: center;
	font-family: Aeroport;
	font-size: 35px;
	line-height: 1.76;
	color: #131313;
}
.strategy__calc
{
	display: flex;
	justify-content: space-evenly;
	margin-top: 30px;
}

.strategy__invest-descr
{
	font-family: Lato;
	font-size: 18px;
	line-height: 1.52;
	color: #131313;
}
.strategy__price
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 19px;
}
.strategy__value
{
	width: 160px;
	height: 83px;
	padding-top: 10px;
	padding-right: 10px;
	border: solid 2px #a8d0e3;
	text-align: right;
}
.strategy__or
{
	font-family: Lato;
	font-size: 14px;
	color: #131313;
	margin-left: 12px;
	margin-right: 12px;
}
.strategy__count
{
	font-family: Aeroport;
	font-size: 30px;
	color: #131313;
}
.strategy__period
{
	margin-top: -5px;
	font-family: Lato;
	font-size: 12px;
	color: #808080;
}
.strategy__vert-line
{
	border: 1px solid #d8d8d8;
}
.strategy__option
{
	display: flex;
	align-items: center;
	width: 100%;
	height: 83px;
	margin-top: 19px;
	border: solid 2px #a8d0e3;
	border-radius: 6px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}
.strategy__percent span
{
	padding-left: 26px;
	font-family: Lato;
	font-size: 12px;
	color: #b2b2b2;
}
.strategy__percent
{
	font-family: Aeroport;
	font-size: 35px;
	color: #131313;
}
.strategy__specification
{
	margin-left: 15px;
	font-family: Lato;
	font-size: 14px;
	color: #808080;

}
.strategy__opening
{
	margin-left: 45px;
	margin-right: 15px;
}
.strategy__line-slider
{
	margin-top: 31px;
	height: 0;
	border-bottom: solid 3px transparent;
	border-image: linear-gradient(to right, #a8d0e3 80px, #dbf4ff 80px);
	border-image-slice: 1;

	svg
	{
		margin-top: -23px;
		margin-left: 65px;
	}
}
.strategy__horiz-line
{
	margin-top: 31px;
	border: 1px solid #d8d8d8;
}
.strategy__horiz-line_mobile
{
	display:none;
}
.strategy__subtitle
{
	margin-top: 48px;
	text-align: center;
	font-family: Lato;
	font-size: 21px;
	color: #131313;
}
.strategy__descr
{
	margin-top: 32px;
}
.strategy__three-lines
{
	width: 100%;

	.strategy__wr
	{
		border-bottom: 1px solid #d8d8d8;
		.strategy__item:nth-child(1),
		.strategy__item:nth-child(2)
		{
			border-right: 1px solid #d8d8d8;
		}
	}
}
.strategy__wr:nth-child(3)
{
border-bottom: 0;
}
.strategy__item
{
	text-align: right;
	padding-right: 35px;
	line-height: 1.56;
}
.strategy__item:nth-child(3n-2)
{
	width: 200px;
	font-family: Aeroport;
	font-size: 30px;
	color: #131313;

}
.strategy__item:nth-child(3n-1)
{
	width: 160px;
	font-family: Aeroport;
	font-size: 30px;
	color: #131313;
}
.strategy__item:nth-child(3n)
{
	align-items: center;
	display: flex;
	width: 307px;
	text-align: left;
	padding-left: 50px;
	padding-right: 0;
	font-family: Lato;
	font-size: 16px;
	color: #131313;
}
.strategy__item span
{
	font-family: Lato;
	font-size: 12px;
	color: #b2b2b2;
}
.strategy__item:nth-child(10),
.strategy__item:nth-child(11),
.strategy__item:nth-child(12)
{
	background-color: #fffce3;
	border-top: 3px solid #ece9cc;
	border-bottom: 1px solid #ece9cc;
}
.strategy__advantage
{
	display:flex;
	justify-content: space-between;
	margin-top: 47px;
}
.strategy__percent-value
{
	height: 77px;
	padding-left: 43px;
	border-left: 5px solid #ec231a;

}
.strategy__curs
{
	font-family: Lato;
	font-size: 14px;
	color: #b2b2b2;
}
.strategy__percents
{
	margin-top: -12px;
	font-family: Aeroport;
	font-size: 48px;
	color: #131313;
}
.strategy__story
{
	width: 48%;
	margin-right: 18%;
}
.strategy__portfolio
{
	font-family: Lato;
	font-size: 14px;
	color: #808080;
}
.strategy__last-title
{
	font-family: Aeroport;
	font-size: 35px;
	color: #131313;
}
.strategy__description
{
	font-family: Lato;
	font-size: 16px;
	color: #292929;
}
.strategy__line-bottom
{
	height: 0px;
	margin-top: 25px;
	border-top: solid 1px #e5e5e5;
}
.strategy__footer
{
	height: 93px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 48px;
	padding-right: 20px;
}
.strategy__wrap
{
	display: flex;
	align-items: center;

	svg
	{
		margin-right: 15px;
	}
}
.strategy__comp
{
	margin-right: 15px;
}
.strategy__comp:nth-child
{
	margin-top: -10px;
}
.strategy__button
{
	width: 326px;
	height: 42px;
	border-radius: 100px;
	background-color: #e05b50;
	font-family: Lato;
	font-size: 16px;
	color: #fff;
}
.strategy__button-text_mobile
{
	display: none;
}
.strategy__wr
{
	display: flex;
	max-width: 814px;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
}
.strategy__wr_wd100
{
	max-width: 100%;
	width: 100%;
	border-bottom: 1px solid #ece9cc;
	border-top: 3px solid #ece9cc;
	background-color: #fffce3;
	padding-left: auto;
	padding-right: auto;
}
.strategy__four-line
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.strategy__wr_bordernone .strategy__item
{
	border-bottom: none;
}
.strategy__wr_wd100 .strategy__item
{
	border-right: none;
	border-bottom: none;
}
.strategy__download
{
	display: none;
}
.strategy__download-text
{
	width: 53px;
	margin-left: 10px;
	font-family: Lato;
	font-size: 12px;
	color: #767676;
}
@media(max-width: $tablet)
{
	.strategy-container_mobile
	{
		width: 100%;
		padding-right: 10px;
		padding-left: 10px;
		margin-right: auto;
		margin-left: auto;
	}
	.strategy
	{
		margin-top: 0;
		box-shadow: none;
	}
	.strategy__calc
	{
		flex-wrap: wrap;
		justify-content: center;
	}
	.strategy__invest-descr
	{
		text-align: center;
	}
	.strategy__or
	{
		margin-left: 14px;
		margin-right: 14px;
	}
	.strategy__vert-line
	{
		width: 100%;
		height: 0;
		margin-top: 34px;
		margin-bottom: 21px;
	}
	.strategy__horiz-line
	{
		display: none;
	}
	.strategy__horiz-line_mobile
	{
		display: block;
		width: 100%;
		height: 0;
		margin-top: 31px;
		border: 1px solid #d8d8d8;
	}
	.strategy__item:nth-child(3n)
	{
		padding-left: 15px;
	}
	.strategy__wr_wd100 .strategy__item:nth-child(1)
	{
		padding-right: 30px;
	}
}
@media (max-width: $mobile)
{
	.strategy__header
	{
		font-size: 24px;
	}
	.strategy__invest
	{
		width: 300px;
	}
	.strategy__count
	{
		font-size: 24px;
	}
	.strategy__option
	{
		justify-content: space-between;
		padding-left: 10px;
		padding-right: 10px;
	}
	.strategy__percent span
	{
		padding-left: 0;
	}
	.strategy__percent
	{
		font-size: 30px;
	}
	.strategy__specification
	{
		margin-left: 0;
		font-size: 12px;
	}
	.strategy__opening
	{
		margin-right: 0;
		margin-left: 0;
	}
	.strategy__story
	{
		margin-right: 0;
	}
	.strategy__subtitle
	{
		font-size: 16px;
	}
	.strategy__wr
	{
		flex-wrap: wrap;
	}
	.strategy__item:nth-child(3n-2),
	.strategy__item:nth-child(3n-1)
	{
		font-size: 24px;
		width: 140px;
	}
	.strategy__three-lines
	{
		width: 425px;
		margin-left: auto;
		margin-right: auto;
	}
	.strategy__item
	{
		text-align: right;
		padding-right: 25px;
		margin-top: 12px;
	}
	.strategy__item:nth-child(3n)
	{
		display: flex;
		justify-content: center;
		text-align: center;
		font-size: 12px;
		padding-bottom: 15px;
	}
	.strategy__four-line
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 495px;
		margin-left: auto;
		margin-right: auto;
	}
	.strategy__item:nth-child(3n-1),
	.strategy__item:nth-child(3n-2)
	{
		border-bottom: none;
	}
	.strategy__item:nth-child(3n-1)
	{
		border-right: none;
	}
	.strategy__advantage
	{
		margin-top: 25px;
		flex-wrap: wrap;
	}
	.strategy__percent-value
	{
		height: 59px;
		padding-left: 10px;
		border-left: 3px solid #ec231a;
	}
	.strategy__story
	{
		width: 100%;
		margin-top: 25px;
		padding-left: 10px;
		padding-right: 15px;
	}
	.strategy__curs
	{
		font-size: 12px;
	}
	.strategy__percents
	{
		font-size: 35px;
	}
	.strategy__line-bottom_hidden
	{
		display: none;
	}
	.strategy__footer
	{
		flex-direction: column;
		justify-content: center;
		padding-top: 35px;
		height: auto;
		padding-bottom: 40px;
	}
	.strategy__download
	{
		margin-top: 35px;
		display: flex;
	}
	.strategy__button
	{
		margin-top: 30px;
		width: 250px;
	}
	.strategy__button-text_mobile
	{
		display: inline;
	}
	.strategy__button-text_desk
	{
		display: none;
	}
	.strategy__invest-descr
	{
		font-size: 16px;
	}
}

@media (max-width: $small-mobile)
{

}