
$icon-bristol-myers-squibb-logo-width: 35px;
$icon-bristol-myers-squibb-logo-height: 30px;
$icon-dididentnaya-luk-width: 35px;
$icon-dididentnaya-luk-height: 34px;
$icon-dividentnaya-alrosa-width: 47px;
$icon-dividentnaya-alrosa-height: 26px;
$icon-document-percent-width: 48px;
$icon-document-percent-height: 55px;
$icon-down-arrow-width: 490.656px;
$icon-down-arrow-height: 490.656px;
$icon-download-pdf-width: 30px;
$icon-download-pdf-height: 36px;
$icon-group-19-1-width: 1024px;
$icon-group-19-1-height: 546px;
$icon-group-20-width: 60px;
$icon-group-20-height: 60px;
$icon-group-21-width: 60px;
$icon-group-21-height: 60px;
$icon-group-3-width: 61px;
$icon-group-3-height: 61px;
$icon-group-width: 36px;
$icon-group-height: 36px;
$icon-invalid-name-width: 22px;
$icon-invalid-name-height: 4px;
$icon-logo-dow-width: 80px;
$icon-logo-dow-height: 27px;
$icon-logo-microsoft-width: 35px;
$icon-logo-microsoft-height: 35px;
$icon-logo-tatneft-width: 21px;
$icon-logo-tatneft-height: 41px;
$icon-logo-uralkaliy-width: 61px;
$icon-logo-uralkaliy-height: 40px;
$icon-logo-yandex-width: 17px;
$icon-logo-yandex-height: 35px;
$icon-micron-small-logo-width: 38px;
$icon-micron-small-logo-height: 30px;
$icon-mp-icon-width: 100px;
$icon-mp-icon-height: 66px;
$icon-netflix-logo-width: 18px;
$icon-netflix-logo-height: 33px;
$icon-novatek-width: 41px;
$icon-novatek-height: 43px;
$icon-obligacionnaya-web-bank-width: 80px;
$icon-obligacionnaya-web-bank-height: 24px;
$icon-opif-tgf-rf-width: 35px;
$icon-opif-tgf-rf-height: 35px;
$icon-phone-width: 35px;
$icon-phone-height: 35px;
$icon-play-width: 121px;
$icon-play-height: 121px;
$icon-portfolio-width: 86px;
$icon-portfolio-height: 77px;
$icon-red-logo-width: 229px;
$icon-red-logo-height: 104px;
$icon-rosneft-sign-width: 27px;
$icon-rosneft-sign-height: 35px;
$icon-s-1-okay-width: 71px;
$icon-s-1-okay-height: 20px;
$icon-sberbank-logo-width: 35px;
$icon-sberbank-logo-height: 34px;
$icon-square-percent-width: 48px;
$icon-square-percent-height: 48px;
$icon-vector-2-width: 19px;
$icon-vector-2-height: 11px;
$icon-vector-3-1-1-width: 40px;
$icon-vector-3-1-1-height: 50px;
$icon-vector-3-1-width: 40px;
$icon-vector-3-1-height: 50px;
$icon-vector-width: 12px;
$icon-vector-height: 16px;
$icon-visa-inc-logo-width: 61px;
$icon-visa-inc-logo-height: 20px;
$icon-white-logo-hr-iti-capital-width: 172px;
$icon-white-logo-hr-iti-capital-height: 46px;

.bristol-myers-squibb-logo {
  width: $icon-bristol-myers-squibb-logo-width;
  height: $icon-bristol-myers-squibb-logo-height;
}

.dididentnaya-luk {
  width: $icon-dididentnaya-luk-width;
  height: $icon-dididentnaya-luk-height;
}

.dividentnaya-alrosa {
  width: $icon-dividentnaya-alrosa-width;
  height: $icon-dividentnaya-alrosa-height;
}

.document-percent {
  width: $icon-document-percent-width;
  height: $icon-document-percent-height;
}

.down-arrow {
  width: $icon-down-arrow-width;
  height: $icon-down-arrow-height;
}

.download-pdf {
  width: $icon-download-pdf-width;
  height: $icon-download-pdf-height;
}

.group-19-1 {
  width: $icon-group-19-1-width;
  height: $icon-group-19-1-height;
}

.group-20 {
  width: $icon-group-20-width;
  height: $icon-group-20-height;
}

.group-21 {
  width: $icon-group-21-width;
  height: $icon-group-21-height;
}

.group-3 {
  width: $icon-group-3-width;
  height: $icon-group-3-height;
}

.group {
  width: $icon-group-width;
  height: $icon-group-height;
}

.invalid-name {
  width: $icon-invalid-name-width;
  height: $icon-invalid-name-height;
}

.logo-dow {
  width: $icon-logo-dow-width;
  height: $icon-logo-dow-height;
}

.logo-microsoft {
  width: $icon-logo-microsoft-width;
  height: $icon-logo-microsoft-height;
}

.logo-tatneft {
  width: $icon-logo-tatneft-width;
  height: $icon-logo-tatneft-height;
}

.logo-uralkaliy {
  width: $icon-logo-uralkaliy-width;
  height: $icon-logo-uralkaliy-height;
}

.logo-yandex {
  width: $icon-logo-yandex-width;
  height: $icon-logo-yandex-height;
}

.micron-small-logo {
  width: $icon-micron-small-logo-width;
  height: $icon-micron-small-logo-height;
}

.mp-icon {
  width: $icon-mp-icon-width;
  height: $icon-mp-icon-height;
}

.netflix-logo {
  width: $icon-netflix-logo-width;
  height: $icon-netflix-logo-height;
}

.novatek {
  width: $icon-novatek-width;
  height: $icon-novatek-height;
}

.obligacionnaya-web-bank {
  width: $icon-obligacionnaya-web-bank-width;
  height: $icon-obligacionnaya-web-bank-height;
}

.opif-tgf-rf {
  width: $icon-opif-tgf-rf-width;
  height: $icon-opif-tgf-rf-height;
}

.phone {
  width: $icon-phone-width;
  height: $icon-phone-height;
}

.play {
  width: $icon-play-width;
  height: $icon-play-height;
}

.portfolio {
  width: $icon-portfolio-width;
  height: $icon-portfolio-height;
}

.red-logo {
  width: $icon-red-logo-width;
  height: $icon-red-logo-height;
}

.rosneft-sign {
  width: $icon-rosneft-sign-width;
  height: $icon-rosneft-sign-height;
}

.s-1-okay {
  width: $icon-s-1-okay-width;
  height: $icon-s-1-okay-height;
}

.sberbank-logo {
  width: $icon-sberbank-logo-width;
  height: $icon-sberbank-logo-height;
}

.square-percent {
  width: $icon-square-percent-width;
  height: $icon-square-percent-height;
}

.vector-2 {
  width: $icon-vector-2-width;
  height: $icon-vector-2-height;
}

.vector-3-1-1 {
  width: $icon-vector-3-1-1-width;
  height: $icon-vector-3-1-1-height;
}

.vector-3-1 {
  width: $icon-vector-3-1-width;
  height: $icon-vector-3-1-height;
}

.vector {
  width: $icon-vector-width;
  height: $icon-vector-height;
}

.visa-inc-logo {
  width: $icon-visa-inc-logo-width;
  height: $icon-visa-inc-logo-height;
}

.white-logo-hr-iti-capital {
  width: $icon-white-logo-hr-iti-capital-width;
  height: $icon-white-logo-hr-iti-capital-height;
}

